$color-title: #FFF;
$color_1: #FF6060;
$background-color-content: #F6F6F6;

.animbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    .animbar-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        background-color: $color_1;
        border-radius: 10px;
        padding: 0 10px;
        width: 100%;
        border: none;

        color: $color-title;
        font-size: 18px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;    
    }

    .animbar-title img {
        transform: rotate(0deg);
        transition: all 0.3s ease;        
    }

    .animbar-title.active img{
        transform: rotate(180deg);
        transition: all 0.3s ease;
    }

    .animbar-content{
        background-color: $background-color-content;
        border-radius: 0 0 10px 10px;
        padding: 0px 20px 0px 20px;
        height: 0;
        color: $color_1;
        font-size: 18px;
        font-family: Montserrat;
       // font-style: normal;
        // font-weight: 400;
        line-height: 0%;
        overflow: hidden;
        white-space: break-spaces;
        transition: height 1s ease, padding 1s ease, font-size 1s ease, line-height 1s ease;
    }

    .animbar-content.active {
        padding: 20px 20px 20px 20px;
        height: 100%;
        line-height: 142.6%;
        transition: height 1s ease, padding 1s ease, font-size 1s ease, line-height 1s ease;
    }

    .animbar-content p {
        transform: translate(0px, -200px);
        transition: all 1s easy;
    }

    .animbar-content.active p {
        transform: translate(0px, 0px);
        transition: all 1s easy;
    }
}

@media (max-width: 1240px) {
    .animbar{
        .animbar-title{
            font-size: 13px;
            height: 30px;
            & img{
                height: 18px;
            }
            & p{
                margin: 10px;
            }
        }
        .animbar-content{
            font-size: 12px;
        }
    }
}