.apropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .apropos-content{
        width: 1023px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;

    }
}
