@font-face {
	font-family: Montserrat;
	src: url('../fonts/Montserrat-Regular.ttf')  format('truetype');
  }
$color-text: #FFF;

.slider{
    height: 415px;
    width: 100%;
    position: relative;
    
    .slider-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .slider-button-preced{
        position: absolute;
        top: 0;
        left: 24px;
        bottom: 0;
        background: transparent;
        border: none;
    }

    .slider-button-suiv{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 24px;
        background: transparent;
        border: none;
    }

    .slider-positionImage{
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0;
        object-position: center;

        color: $color-text;
        text-align: center;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 142.6%;
    }
}

@media (max-width: 1240px) {
    .slider{
        width: 100%;
        height: 255px;
        .slider-button-preced{
            left: 0;
            & img {
                width: 30%;
            }
        }
        .slider-button-suiv{
            right: 0;
            & img{
                width: 30%;
            }
        }
        .slider-positionImage{
            display: none;
        }
    }
}